body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}
header, nav {
    background-image: url('background.jpg'); 
    background-size: 200%;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
main {
    padding: 20px;
    background: #fff;
    margin-top: 10px;
}
img {
    max-width: 100%;
}

nav a {
    color: #ffffff;
    padding: 10px 15px; 
    text-decoration: none; 
    background-color: #3498db; 
    border-radius: 5px;
}

nav a:hover {
    background-color: #2980b9; 
}